.tooltipActivite {
  width: 39px;
  height: 63px;
  background-color: #e60000;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 8px;
}
