.main {
  width: 100%;
  min-width: 900px;
  height: 1280px;

  &__title {
    margin-left: 80px;
    margin-top: 68px;
    &--h1 {
      font-size: 48px;
      margin-left: 107px;
      &--name {
        color: $color-primary;
      }
    }
    &--comment {
      font-size: 18px;
      margin-top: 48px;
      margin-left: 107px;
      margin-bottom: 77px;
    }
  }
  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    &__graph {
      width: 835px;
      display: flex;
      flex-flow: column nowrap;
      margin-left: 109px;
      margin-right: 31px;

      &--activite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &--others {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 28px;
      }
    }
  }
}
