.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: $desktop-width;
  margin: auto;
  background-color: black;
  &__logo {
    margin: 17px 29px;
    img {
      height: 57px;
    }
  }
  &__nav {
    &__ul {
      display: flex;
      flex-flow: row nowrap;

      a {
        text-decoration: none;
        font-size: 24px;
        margin: 0 98px;
        li {
          color: $color-font-menu;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            // Changement de couleur au survole de la souris
            color: $color-primary;
          }
        }
      }
    }
  }
}

// Effet de soulignement a la valeur de la navigation sélectionnée
//       &--active {
//         position: relative;

//         &::after {
//           content: "";
//           height: 2px;
//           width: 0;
//           background: $color-primary;
//           position: absolute;
//           bottom: 0px;
//           left: 50%;
//           transform: translateX(-50%);
//           -webkit-animation: anim 0.3s ease forwards;
//           animation: anim 0.6s ease forwards;

//           //Ajout de l'animation au soulignement
//           @-webkit-keyframes anim {
//             to {
//               width: 100%;
//             }
//           }
//           @keyframes anim {
//             to {
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//   }
// }
